<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Spring-Boot</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Spring
							Tool Suite</a> <a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">Thymeleaf</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">WebJars</a> <a
							class="list-group-item list-group-item-action"
							id="list-hibernate-list" data-toggle="list" href="#hibernate"
							role="tab" aria-controls="hibernate">Hibernate</a> <a
							class="list-group-item list-group-item-action"
							id="list-bootstrap-list" data-toggle="list" href="#bootstrap"
							role="tab" aria-controls="bootstrap">Bootstrap 4</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="https://projects.spring.io/spring-boot/">Spring Boot</a>
							é um framework Java open source que tem como objetivo facilitar
							esse processo em aplicações Java. Consequentemente, ele traz mais
							agilidade para o processo de desenvolvimento, uma vez que devs
							conseguem reduzir o tempo gasto com as configurações iniciais.
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							The <a href="https://spring.io/tools">Spring Tool Suite</a> é uma
							IDE que facilita o uso de Spring de modo geral. E ele é uma mão
							na roda para criar projetos com Spring Boot.
						</div>
						<div class="tab-pane fade" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							<a href="http://www.thymeleaf.org/">Thymeleaf</a> é um moderno
							mecanismo de modelo Java do lado do servidor para ambientes da
							Web e autônomos. Com módulos para Spring Framework, uma série de
							integrações com suas ferramentas favoritas e a capacidade de
							conectar sua própria funcionalidade, o Thymeleaf é ideal para o
							desenvolvimento web moderno em HTML5 JVM — embora haja muito mais
							que ele possa fazer.
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							<a href="https://www.webjars.org/">WebJars</a> são bibliotecas da
							Web do lado do cliente (por exemplo, jQuery; Bootstrap)
							empacotadas em arquivos JAR (Java Archive).
						</div>
						<div class="tab-pane fade" id="hibernate" role="tabpanel"
							aria-labelledby="list-hibernate-list">
							<a href="http://hibernate.org/orm/">Hibernate ORM</a> permite que
							os desenvolvedores escrevam mais facilmente aplicativos cujos
							dados sobrevivem ao processo do aplicativo. Como um framework
							Object/Relational Mapping (ORM), o Hibernate está preocupado com
							a persistência de dados como se aplica a bancos de dados
							relacionais (via JDBC). Além de sua própria API "nativa", o
							Hibernate também é uma implementação da especificação Java
							Persistence API (JPA). Como tal, ele pode ser facilmente usado em
							qualquer ambiente que suporte JPA, incluindo aplicativos Java SE,
							servidores de aplicativos Java EE, contêineres Enterprise OSGi,
							etc.
						</div>
						<div class="tab-pane fade" id="bootstrap" role="tabpanel"
							aria-labelledby="list-bootstrap-list">
							<a href="https://getbootstrap.com/">Bootstrap</a> é um kit de
							ferramentas de código aberto para desenvolvimento com HTML, CSS e
							JS. Prototipe rapidamente suas ideias ou construa seu aplicativo
							inteiro com nossas variáveis ​​e mixins Sass, sistema de grade
							responsivo, extensos componentes pré-construídos e plugins
							poderosos construídos em jQuery.
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>